/*======================================
    Tablets, Ipads (Landscape) Layout
========================================*/
@media only screen and (min-width: 1025px) and (max-width: 1190px){
    /* header section responsive start */
    #header_area .top_header_area .inner_header .logo_area {
        text-align: left;
        width: 23%;
        margin-left: 10px;
    }
    #header_area .top_header_area .inner_header .social_area {
        text-align: center;
        width: 38%;
    }
    #header_area .top_header_area .inner_header .search_area {
        width: 34%;
        margin-left: 7px;
    }
    #header_area .top_header_area .inner_header .search_area form input[type="text"] {
        width: 73%;
    }
    #header_area .top_header_area .inner_header .search_area form input[type="submit"] {
        width: 25%;
    }
    /* header section responsive end  */

    /* about section responsive start */
    #about_area .inner_about_area .right-items {
        margin: 0px 10px;
    }
    /* about section responsive end */
    
    /* services section responsive start  */
    #services_area .inner_services_area {
        text-align: center;
        padding-bottom: 0px;
    }
    #services_area .inner_services_area h3 {
        padding: 20px 0px 10px 0px;
        font-size: 40px;
    }
    #services_area .inner_services_area .services_items_top {
        text-align: center;
        display: inline-block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_top .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:last-child {
        margin-bottom: 0px;
    }

    #services_area .inner_services_area .services_items_bottom{
        display: inline-block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_bottom .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:last-child {
        margin-bottom: 0px;
    }
    /* services section responsive end  */
}



/*======================================
    Tablets, Ipads (Landscape) Layout
========================================*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    /* header section responsive start */
    #header_area .top_header_area .inner_header .logo_area {
        text-align: left;
        width: 23%;
        margin-left: 10px;
    }
    #header_area .top_header_area .inner_header .social_area {
        text-align: center;
        width: 38%;
    }
    #header_area .top_header_area .inner_header .search_area {
        width: 34%;
        margin-left: 7px;
    }
    #header_area .top_header_area .inner_header .search_area form input[type="text"] {
        width: 73%;
    }
    #header_area .top_header_area .inner_header .search_area form input[type="submit"] {
        width: 25%;
    }
    /* header section responsive end  */

    /* about section responsive start */
    #about_area .inner_about_area {
        display: block;
        padding-top: 0px;
    }
    #about_area .inner_about_area .laft-items {
        width: 100%;
        text-align: center;
    }
    #about_area .inner_about_area .laft-items p {
        margin: 10px 15px 0px 15px;
    }
    #about_area .inner_about_area .laft-items .Read_More {
        margin: 16px 5px 17px 5px;
    }
    #about_area .inner_about_area .right-items {
        width: 100%;
        text-align: center;
    }
    /* about section responsive end  */

    /* services section responsive start  */
    #services_area .inner_services_area {
        text-align: center;
        padding-bottom: 0px;
    }
    #services_area .inner_services_area h3 {
        padding: 20px 0px 10px 0px;
        font-size: 40px;
    }
    #services_area .inner_services_area .services_items_top {
        text-align: center;
        display: inline-block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_top .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:last-child {
        margin-bottom: 0px;
    }

    #services_area .inner_services_area .services_items_bottom{
        display: inline-block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_bottom .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:last-child {
        margin-bottom: 0px;
    }
    /* services section responsive end  */
}


/*======================================
    Tablets, Mobiles (Landscape) Layout
========================================*/
@media only screen and (min-width: 601px) and (max-width: 767px) {
    /* header section responsive start */
    #header_area .top_header_area {
        padding: 11px 0;
    }
    #header_area .top_header_area .inner_header {
        width: 100%;
        display: block;
    }
    #header_area .top_header_area .inner_header .logo_area {
        text-align: center;
        width: 37%;
        display: inline-block;
    }
    #header_area .top_header_area .inner_header .social_area {
        width: 62%;
        display: inline-block;
    }
    #header_area .top_header_area .inner_header .social_area ul li {
        margin-right: 18px;
    }
    #header_area .top_header_area .inner_header .search_area {
        width: 100%;
        padding: 15px 40px;
    }
    /* header section responsive end  */

    /* about section responsive start */
    #about_area .inner_about_area {
        display: block;
        padding-top: 0px;
    }
    #about_area .inner_about_area .laft-items {
        width: 100%;
        text-align: center;
    }
    #about_area .inner_about_area .laft-items p {
        margin: 10px 15px 0px 15px;
    }
    #about_area .inner_about_area .laft-items .Read_More {
        margin: 16px 5px 17px 5px;
    }
    #about_area .inner_about_area .right-items {
        width: 100%;
        text-align: center;
    }
    /* about section responsive end  */

    /* services section responsive start  */
    #services_area .inner_services_area {
        text-align: center;
        padding-bottom: 0px;
    }
    #services_area .inner_services_area h3 {
        padding: 20px 0px 10px 0px;
        font-size: 40px;
    }
    #services_area .inner_services_area .services_items_top {
        text-align: center;
        display: inline-block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_top .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:last-child {
        margin-bottom: 0px;
    }

    #services_area .inner_services_area .services_items_bottom{
        display: inline-block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_bottom .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:last-child {
        margin-bottom: 0px;
    }
    /* services section responsive end  */
    

}


/*=====================================================
    Most of the Smartphones Mobiles (Portrait) Layout
=======================================================*/
@media only screen and (min-width: 200px) and (max-width: 600px){
    /* header section responsive start */
    #header_area .top_header_area {
        padding: 12px 0;
    }
    #header_area .top_header_area .inner_header {
        display: block;
    }
    #header_area .top_header_area .inner_header .logo_area {
        text-align: center;
        width: 100%;
    }
    #header_area .top_header_area .inner_header .social_area {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    #header_area .top_header_area .inner_header .search_area {
        width: 100%;
        text-align: center;
    }
    #header_area .top_header_area .inner_header .search_area form input[type="text"] {
        width: 56%;
        float: none;
    }
    #header_area .top_header_area .inner_header .search_area form input[type="submit"] {
        float: none;
    }
    /* header section responsive end  */

    /* about section responsive start */
    #about_area .inner_about_area {
        display: block;
        padding-top: 0px;
    }
    #about_area .inner_about_area .laft-items {
        width: 100%;
        text-align: center;
    }
    #about_area .inner_about_area .laft-items p {
        margin: 10px 15px 0px 15px;
    }
    #about_area .inner_about_area .laft-items .Read_More {
        margin: 16px 5px 17px 5px;
    }
    #about_area .inner_about_area .right-items {
        width: 100%;
        text-align: center;
    }
    /* about section responsive end  */

    /* services section responsive start  */
    #services_area .inner_services_area {
        text-align: center;
        padding-bottom: 0px;
    }
    #services_area .inner_services_area h3 {
        padding: 20px 0px 10px 0px;
        font-size: 40px;
    }
    #services_area .inner_services_area .services_items_top {
        text-align: center;
        display: block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_top .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_top .itme:last-child {
        margin-bottom: 0px;
    }

    #services_area .inner_services_area .services_items_bottom{
        display: block;
        margin: 20px 20px;
    }
    #services_area .inner_services_area .services_items_bottom .itme {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:first-child {
        margin-bottom: 10px;
    }
    #services_area .inner_services_area .services_items_bottom .itme:last-child {
        margin-bottom: 0px;
    }
    /* services section responsive end  */

    /* contact section responsive start  */
    #contact_area {
        padding: 10px;
    }
    #contact_area .inner_contact_area h2 {
        padding: 10px 0px;
        font-size: 40px;
    }
    #contact_area .inner_contact_area .main_contact_form {
        margin: 15px 0;
    }
    #contact_area .inner_contact_area .main_contact_form input {
        width: 97%;
        float: none;
        margin: 10px;
    }
    #contact_area .inner_contact_area .main_contact_form textarea {
        width: 97%;
        margin: 10px;
    }
    #contact_area .inner_contact_area .main_contact_form input[type="submit"] {
        width: 200px;
        font-size: 18px;
    }
    /* contact section responsive end  */

    /* footer section responsive start  */
    #footer_area .inner_footer_area {
        padding: 12px 0;
    }
    /* footer section responsive end  */
}
